XQueryLibrary1.0/XMLOutputSchemas/schemao_q9.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:simpleType name="titleType">
  <xs:restriction base="xs:string">
    <xs:enumeration value="UML"/>
    <xs:enumeration value="XML for programmers"/>
  </xs:restriction>
</xs:simpleType>
<xs:element name="results">
<xs:complexType>
<xs:sequence>
<xs:element name="title" type="titleType"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>